<div class="flex justify-between w-full px-6 py-4 ">
  <div>
    <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
      <mat-label>{{filter.name}}</mat-label>
      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
        (change)="filterChange(filter,$event)">
        <option value=""> </option>
        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
      </select>
    </mat-form-field>
    &nbsp;
    <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
  </div>
  <button  mat-raised-button (click)="openDialog()" type="button" class="">
    Crear nota
  </button>
</div>
<section class="w-10/12 flex justify-center overflow-y-scroll h-120 m-auto">
  <table mat-table [dataSource]="dataSource" class="w-10/12">
    <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
    <ng-container matColumnDef="numero_de_nota">
      <th class="px-6"  mat-header-cell *matHeaderCellDef> {{headers.numero_de_nota}} </th>
      <td class="px-6"  mat-cell *matCellDef="let bill"><a [href]="bill.url"># {{bill.numero_de_nota}}</a></td>
    </ng-container>
    <ng-container matColumnDef="cliente">
      <th class="px-6"  mat-header-cell *matHeaderCellDef> {{headers.cliente}} </th>
      <td class="px-6"  mat-cell *matCellDef="let bill"> {{bill.cliente}} </td>
    </ng-container>
    <ng-container matColumnDef="monto_total">
      <th class="px-6"  mat-header-cell *matHeaderCellDef> {{headers.monto_total}} </th>
      <td class="px-6"  mat-cell *matCellDef="let bill"> {{bill.monto_total}} </td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th class="px-6"  mat-header-cell *matHeaderCellDef> {{headers.fecha}} </th>
      <td class="px-6"  mat-cell *matCellDef="let bill"> {{bill.fecha}} </td>
    </ng-container>
    <ng-container matColumnDef="status_de_pago">
      <th class="px-6"  mat-header-cell *matHeaderCellDef> {{headers.status_de_pago}} </th>
      <td class="px-6"  mat-cell *matCellDef="let bill"> {{bill.status_de_pago}} </td>
    </ng-container>
  </table>
</section>
    