<div class="flex justify-between w-full px-6 py-4 ">
  <div>
    <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
      <mat-label>{{filter.name}}</mat-label>
      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
        (change)="filterChange(filter,$event)">
        <option value=""> </option>
        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
      </select>
    </mat-form-field>
    &nbsp;
    <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
  </div>
  <button  mat-raised-button (click)="openDialog()" type="button" class="">
    Crear nota
  </button>
</div>
<section class="w-10/12 flex justify-center overflow-y-scroll h-120 m-auto">
  <table mat-table [dataSource]="dataSource" class="w-10/12">
    <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
    <ng-container matColumnDef="numero_de_nota">
      <th class="px-6"  mat-header-cell *matHeaderCellDef> {{headers.numero_de_nota}} </th>
      <td class="px-6"  mat-cell *matCellDef="let bill"><a [href]="bill.url"># {{bill.numero_de_nota}}</a></td>
    </ng-container>
    <ng-container matColumnDef="cliente">
      <th class="px-6"  mat-header-cell *matHeaderCellDef> {{headers.cliente}} </th>
      <td class="px-6"  mat-cell *matCellDef="let bill"> {{bill.cliente}} </td>
    </ng-container>
    <ng-container matColumnDef="monto_total">
      <th class="px-6"  mat-header-cell *matHeaderCellDef> {{headers.monto_total}} </th>
      <td class="px-6"  mat-cell *matCellDef="let bill"> {{bill.monto_total}} </td>
    </ng-container>
    <ng-container matColumnDef="fecha">
      <th class="px-6"  mat-header-cell *matHeaderCellDef> {{headers.fecha}} </th>
      <td class="px-6"  mat-cell *matCellDef="let bill"> {{bill.fecha}} </td>
    </ng-container>
    <ng-container matColumnDef="status_de_pago">
      <th class="px-6"  mat-header-cell *matHeaderCellDef> {{headers.status_de_pago}} </th>
      <td class="px-6"  mat-cell *matCellDef="let bill"> {{bill.status_de_pago}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th class="px-6"  mat-header-cell *matHeaderCellDef> Acciones </th>
      <td class="px-6"  mat-cell *matCellDef="let bill"> <a target="_blank" [href]="bill.actions?.edit">edit</a> </td>
    </ng-container>
  </table>
</section>
<div class="w-3/4 m-auto py-5">
  <div id="note" class="w-1/2 m-auto hidden print:block">
  
    <section *ngIf="bill" class="border flex flex-col items-center p-10">
      <div class="flex w-full justify-around">
        <div class="px-6">
          <img src="/assets/logo.png" alt="El itacate, Molino de nixtamal">
        </div>
        <div class="">
          <h3 class="text-center font-bold">Folio</h3>
          <p class="rounded border border-black text-lg px-2 text-center">{{bill.numero_de_nota}}</p>
          <h3 class="text-center font-bold mt-4">Fecha</h3>
          <p class="rounded border border-black text-lg px-2 text-center">{{bill.fecha}}</p>
        </div>
      </div>
      <div class="w-full flex my-6 items-baseline">
        <h3 class="font-bold">Cliente</h3>
        <p class="w-full border-b border-black text-center text-xl">{{bill.cliente}}</p>
      </div>
  
  
      <table class="border w-full">
        <thead>
          <tr class="bg-slate-200">
            <th class="p-1 border">Cantidad</th>
            <th class="p-1 border">Concepto</th>
            <th class="p-1 border">Precio</th>
            <th class="p-1 border">Importe</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let product of bill.products">
            <tr [ngClass]="{'text-white': product.label === 'data' }" class="border-b">
              <td class="p-1 border text-center">{{product.quantity}}</td>
              <td class="p-1 border">{{headers[product.label]}}</td>
              <td class="p-1 border text-right">{{product.price | currency}}</td>
              <td class="p-1 border text-right">{{product.total | currency}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="flex mt-6 w-full">
        <div class="w-3/5">
          <p class="mb-1">Tu compra ayuda a la conservación de nuestros maíces nativos. Gracias!</p>
          <p><span class="font-bold">Email:</span> itacatedemaiz@gmail.com <br> <span class="font-bold">Telefono:</span> 322-294-7798</p>
        </div>
        <table class="w-2/5">
          <tbody>
            <tr>
              <td class="font-bold bg-slate-200 py-1 px-2">Subtotal</td>
              <td class="border text-right py-1 px-2">{{bill.billTotal | currency}}</td>
            </tr>
            <tr>
              <td class="font-bold bg-slate-200 py-1 px-2">Envío</td>
              <td class="border text-right py-1 px-2">{{bill.monto_de_envio}}</td>
            </tr>
            <tr>
              <td class="font-bold bg-slate-200 py-1 px-2">Total</td>
              <td class="border text-right py-1 px-2">{{bill.monto_total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>