<div class="w-75">
    <h2>{{headers.numero_de_comprobante}}: {{spent.numero_de_comprobante}} | {{headers.proveedor}}: {{spent.proveedor}} | {{headers.fecha_de_egreso}}: {{spent.fecha_de_egreso}}  </h2>
    <p> {{headers.status}}: {{spent.status}}</p>
    <p> {{headers.categoria}}: {{spent.categoria}}</p>
    <p> {{headers.proveedor}}: {{spent.proveedor}}</p>
    <p> {{headers.comentarios}}: {{spent.comentarios}}</p>
    <p> {{headers.costo_envio}}: {{spent.costo_envio}}</p>
    <p> {{headers.fecha_de_egreso}}: {{spent.fecha_de_egreso}}</p>
    <p> {{headers.metodo_de_pago}}: {{spent.metodo_de_pago}}</p>
    <p> {{headers.monto}}: {{spent.monto}}</p>
    <p> {{headers.monto_total}}: {{spent.monto_total}}</p>
    <p> {{headers.comprobante}}: {{spent.comprobante}}</p>
    <p> {{headers.concepto}}: {{spent.concepto}}</p>
    <p> {{headers.comentarios}}: {{spent.comentarios}}</p>

    
    <!-- <section id="note">
        <div>
            <img src="http://placehold.it/280x170?text=El%20itacate" alt="">
            <div>
                <h3>Nota de venta</h3>
                <p class="rounded border border-light">{{spent.numero_de_comprobante}}</p>
            </div>
        </div>
    </section> -->

</div>

