<div class="" tabindex="-1">
  <div class="flex justify-between mb-6">
    <h2 class="text-2xl">Nuevo Producto para inventario</h2>
    <button type="button" class="" [mat-dialog-close]><i class="fa-solid fa-xmark"></i></button>
  </div>
  <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScSRmuFfWfZ6ni4hv9u1-Hh8oNDMhk7ST4k3GrKFY7iyp5l9w/viewform?embedded=true" width="640" height="543" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
  <form [formGroup]="newProductForm" ngxsForm="warehouse.product_list.newProductForm" (ngSubmit)="PostForm() " class=" flex flex-col py-4">
    <div class="flex mb-6 justify-around">
      <div class="flex flex-col w-6/12 px-2">
        <label class="mb-2" for="producto">producto: <span class="text-red-600">*</span></label>
        <input formControlName="producto" class="border rounded border-gray-600 h-10 p-2" id="producto" type="text">
      </div>
      
      <div class="flex flex-col w-6/12 px-2">
        <label class="mb-2" for="unidad_de_medida">unidad de medida: <span class="text-red-600">*</span></label>
        <select formControlName="unidad_de_medida" class="border rounded border-gray-600 h-10 p-2" name="unidad_de_medida" id="unidad_de_medida">
          <option [value]="unit.abreviatura" *ngFor="let unit of (measureUnits | async).measure_units" >{{unit.abreviatura}}</option>
        </select>
      </div>
    </div>
    <div class="flex mb-6 justify-around">
      <div class="flex flex-col w-full px-2">
        <label class="mb-2" for="proveedor">proveedor: <span class="text-red-600">*</span></label>
        <select formControlName="proveedor" class="border rounded border-gray-600 h-10 p-2" name="proveedor" id="proveedor">
          <option [value]="proveedor.proveedor" *ngFor="let proveedor of (proveedores | async).proveedores" >{{proveedor.proveedor}}</option>
        </select>
      </div>
    </div>
    <div class="flex mb-6 justify-around">
      <div class="flex flex-col w-6/12 px-2">
        <label class="mb-2" for="almacen">almacen: <span class="text-red-600">*</span></label>
        <select formControlName="almacen" class="border rounded border-gray-600 h-10 p-2" name="almacen" id="almacen">
          <option [value]="warehouse.almacen" *ngFor="let warehouse of (warehouses | async).warehouses" >{{warehouse.almacen}}</option>
        </select>
      </div>
      <div class="flex flex-col w-6/12 px-2">
        <label class="mb-2" for="categoria">categoria: <span class="text-red-600">*</span></label>
        <select formControlName="categoria" class="border rounded border-gray-600 h-10 p-2" name="categoria" id="categoria">
          <option [value]="category.nombre" *ngFor="let category of filteredCategories" >{{category.nombre}}</option>
        </select>
      </div>
    </div>

    <div class="flex mb-12 justify-around">
      
      <div class="flex flex-col w-6/12 px-2">
        <label class="mb-2" for="stock_minimo">stock minimo<span class="text-red-600">*</span></label>
        <input formControlName="stock_minimo" class="border rounded border-gray-600 h-10 p-2" id="stock_minimo" type="text">
      </div>
      <div class="flex flex-col w-6/12 px-2">
        <label class="mb-2" for="tiempo_de_entrega_dias_naturales">tiempo de entrega dias naturales: <span class="text-red-600">*</span></label>
        <input formControlName="tiempo_de_entrega_dias_naturales" class="border rounded border-gray-600 h-10 p-2" id="tiempo_de_entrega_dias_naturales" type="text">
      </div>
    </div>
    <div class="flex mb-12 justify-around">
      
      <div class="flex flex-col w-6/12 px-2">
        <label class="mb-2" for="caducidad_minima_dias">caducidad minima dias<span class="text-red-600">*</span></label>
        <input formControlName="caducidad_minima_dias" class="border rounded border-gray-600 h-10 p-2" id="caducidad_minima_dias" type="text">
      </div>
      <div class="flex flex-col w-6/12 px-2">
        <label class="mb-2" for="caracteristicas_de_almacenamiento">caracteristicas de almacenamiento: <span class="text-red-600">*</span></label>
        <input formControlName="caracteristicas_de_almacenamiento" class="border rounded border-gray-600 h-10 p-2" id="caracteristicas_de_almacenamiento" type="text">
      </div>
    </div>
    <div class="flex justify-end w-full pr-2">
      <button mat-raised-button mat-button class="bg-teal-600 text-white">
      
        <input type="submit"  value="Enviar" />
      </button>
    </div>
  </form>
</div>

