<div class="flex justify-between w-full px-6 py-4 ">
  <div>
    <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
      <mat-label>{{filter.name}}</mat-label>
      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
        (change)="filterChange(filter,$event)">
        <option value=""> </option>
        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
      </select>
    </mat-form-field>
    &nbsp;
    <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
  </div>
  <button  mat-raised-button (click)="openDialog(createData)" type="button" >
    Crear vale de caja
  </button>
</div>
<section class=" flex justify-center overflow-y-scroll h-120">

  <table mat-table [dataSource]="dataSource" class="" >
    <section class="overflow-y-scroll text-center">
      <tr class="space-x-3" mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
      <tr class="space-x-3" mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
      <ng-container matColumnDef="id">
        <th class="px-6"  mat-header-cell *matHeaderCellDef> {{(headers | async).id}} </th>
        <td class="px-6 text-blue-500 underline"  mat-cell *matCellDef="let spent" (click)="navigate(spent.id, spent.url)"># {{spent.id}}</td>
      </ng-container>
      <ng-container matColumnDef="numero_de_comprobante">
        <th class="px-6"  mat-header-cell *matHeaderCellDef> {{(headers | async).numero_de_comprobante}} </th>
        <td class="px-6"  mat-cell *matCellDef="let spent"># {{spent.numero_de_comprobante}}</td>
      </ng-container>
      <ng-container matColumnDef="proveedor">
        <th mat-header-cell MatSortHeader *matHeaderCellDef> {{(headers | async).proveedor}} </th>
        <td mat-cell class="px-4" *matCellDef="let spent"> {{spent.proveedor}} </td>
      </ng-container>
      <ng-container matColumnDef="fecha_de_egreso">
        <th mat-header-cell MatSortHeader *matHeaderCellDef> {{(headers | async).fecha_de_egreso}} </th>
        <td mat-cell class="px-4" *matCellDef="let spent"> {{spent.fecha_de_egreso}} </td>
      </ng-container>
      <ng-container matColumnDef="monto_total">
        <th mat-header-cell MatSortHeader *matHeaderCellDef> {{(headers | async).monto_total}} </th>
        <td mat-cell class="px-4" *matCellDef="let spent"> {{spent.monto_total}} </td>
      </ng-container>
      <ng-container matColumnDef="metodo_de_pago">
        <th mat-header-cell MatSortHeader *matHeaderCellDef> {{(headers | async).metodo_de_pago}} </th>
        <td mat-cell class="px-4" *matCellDef="let spent"> {{spent.metodo_de_pago}} </td>
      </ng-container>
      <ng-container matColumnDef="concepto">
        <th mat-header-cell MatSortHeader *matHeaderCellDef> {{(headers | async).concepto}} </th>
        <td mat-cell class="px-4" *matCellDef="let spent"> {{spent.concepto}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th class="px-6"  mat-header-cell *matHeaderCellDef> Acciones </th>
        <td class="px-6"  mat-cell *matCellDef="let spent">
          <button (click)="openDialog({title:'Editar nota', url: spent.edit })">
            <i class="fa-solid fa-pencil"></i>
          </button>
        </td>
      </ng-container>
    </section>
  </table>
</section>
