
<div class="flex justify-end w-full px-6 py-4 ">
  <button  mat-raised-button (click)="openDialog()" type="button" >
    Crear vale de caja
  </button>
</div>
<section class="w-10/12 flex justify-center overflow-y-scroll h-120">

  <table mat-table [dataSource]="spents" class="" >
    <section class="overflow-y-scroll">
      <tr mat-header-row  *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      <ng-container matColumnDef="numero_de_comprobante">
        <th mat-header-cell MatSortHeader *matHeaderCellDef> {{headers.numero_de_comprobante}} </th>
        <td mat-cell *matCellDef="let spent"><a [href]="spent.url"># {{spent.numero_de_comprobante}}</a></td>
      </ng-container>
      <ng-container matColumnDef="proveedor">
        <th mat-header-cell MatSortHeader *matHeaderCellDef> {{headers.proveedor}} </th>
        <td mat-cell *matCellDef="let spent"> {{spent.proveedor}} </td>
      </ng-container>
      <ng-container matColumnDef="monto_total">
        <th mat-header-cell MatSortHeader *matHeaderCellDef> {{headers.monto_total}} </th>
        <td mat-cell *matCellDef="let spent"> {{spent.monto_total}} </td>
      </ng-container>
      <ng-container matColumnDef="fecha_de_egreso">
        <th mat-header-cell MatSortHeader *matHeaderCellDef> {{headers.fecha_de_egreso}} </th>
        <td mat-cell *matCellDef="let spent"> {{spent.fecha_de_egreso}} </td>
      </ng-container>
      <ng-container matColumnDef="status_de_pago">
        <th mat-header-cell MatSortHeader *matHeaderCellDef> {{headers.status_de_pago}} </th>
        <td mat-cell *matCellDef="let spent"> {{spent.status_de_pago}} </td>
      </ng-container>
      <ng-container matColumnDef="metodo_de_pago">
        <th mat-header-cell MatSortHeader *matHeaderCellDef> {{headers.metodo_de_pago}} </th>
        <td mat-cell *matCellDef="let spent"> {{spent.metodo_de_pago}} </td>
      </ng-container>
      <ng-container matColumnDef="concepto">
        <th mat-header-cell MatSortHeader *matHeaderCellDef> {{headers.concepto}} </th>
        <td mat-cell *matCellDef="let spent"> {{spent.concepto}} </td>
      </ng-container>
    </section>
  </table>
</section>
