<section class="flex flex-col items-center">
  <section class="flex justify-between w-10/12 mt-8">
    <h2 class="text-2xl px-4 py-2">{{(month | async)?.monthLabel | titlecase}} </h2>
    <div>
      <button  mat-raised-button (click)="openDialog(editBalanceData)" type="button" >
        Modificar cierre de caja Actual
      </button>
      <button  mat-raised-button (click)="openDialog(balanceData)" type="button" >
        Crear cierre de caja
      </button>
      <button  mat-raised-button (click)="openDialog(dateData)" type="button" >
        Modificar fecha
      </button>
    </div>
  </section>
  <section class="flex justify-evenly w-10/12 mt-8">
    <table class="w-5/12">
      <thead>
        <th>Moneda o billete</th>
        <th>Cantidad</th>
        <th>Total</th>
      </thead>
      <tr *ngFor="let coin of (month | async)?.balance.balance" class="border-b y-2">
        <th>{{coin.label}}</th>
        <td>{{coin.quantity}} </td>
        <td>{{coin.value}} </td>
      </tr>
    </table>

    <table class="w-1/4">
      <thead>
        <th>Concepto</th>
        <th>Total</th>
      </thead>
      <tr *ngFor="let total of (month | async)?.balance.results" class="border-b y-2">
        <th>{{total.label}}</th>
        <td>{{total.value}} </td>
      </tr>
    </table>
    <table class="w-5/12">
      <tr *ngFor="let total of (month | async)?.totals" class="border-b y-2">
        <th>{{total.key}}</th>
        <td>{{total.value}} </td>
      </tr>
    </table>
  </section>
  <section class="flex justify-around w-full mt-8 mb-24">
    <div class="h-80 w-5/12 overflow-y-scroll">
      <table class="">
        <thead>
          <th class="px-6"> {{(month | async).income.headers.id}} </th>
          <th>{{(month | async)?.income.headers.nota}}</th>
          <th>{{(month | async)?.income.headers.fecha_de_nota}}</th>
          <th>{{(month | async)?.income.headers.cliente}}</th>
          <th>{{(month | async)?.income.headers.monto}}</th>
  
        </thead>
        <tr *ngFor="let income of (month | async)?.income.values" class="border-b y-2">
          
          <td class="px-6 text-blue-500 underline" (click)="navigate(income.url)"># {{income.id}}</td>
          <td>{{income.nota}}</td>
          <td>{{income.fecha_de_nota}}</td>
          <td>{{income.cliente}} </td>
          <td>{{income.monto}} </td>
        </tr>
      </table>
    </div>
    <div class="h-80 w-5/12 overflow-y-scroll">
      <table class="">
        <thead>
          <th class="px-6"> {{(month | async).outcome.headers.id}} </th>
          <th>{{(month | async)?.outcome.headers?.nota_ligada}}</th>
          <th>{{(month | async)?.outcome.headers?.fecha_de_vale}}</th>
          <th>{{(month | async)?.outcome.headers?.proveedor}}</th>
          <th>{{(month | async)?.outcome.headers?.monto}}</th>
  
        </thead>
        <tr *ngFor="let outcome of (month | async)?.outcome.values" class="border-b y-2">
          <td class="px-6 text-blue-500 underline" (click)="navigate(outcome.url)"># {{outcome.id}}</td>
          <td>{{outcome?.nota_ligada || ''}}</td>
          <td>{{outcome?.fecha_de_vale}}</td>
          <td>{{outcome?.proveedor}}</td>
          <td>{{outcome?.monto}}</td>
        </tr>
      </table>
    </div>
  </section>
</section>
