<div  class="">
  <nav class="flex justify-between h-16 items-center px-4 bg-slate-300">
    <a class="text-4xl" href="/">Notas</a>
    <ul class="flex justify-around items-center w-40 space-x-5 mx-20">
      <li class="" [routerLink]="['bills']" routerLinkActive="bg-white text-teal-600 border-2 border-teal-600" class="bg-teal-600 text-white rounded px-2 py-1 font-medium">Bills</li>
      <li class="" [routerLink]="['spents']" routerLinkActive="bg-white text-teal-600 border-2 border-teal-600" class="bg-teal-600 text-white rounded px-2 py-1 font-medium">Spents</li>
      <li class="" [routerLink]="['balance']" routerLinkActive="bg-white text-teal-600 border-2 border-teal-600" class="bg-teal-600 text-white rounded px-2 py-1 font-medium">Balance</li>
      <li class="">
        <button mat-raised-button (click)="logout()">Logout</button>
      </li>
    </ul>
    
  </nav>
  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>