
<div class="" tabindex="-1">
  <div class="flex justify-between mb-6">
    <h2 class="text-2xl">Nuevo insumo para producción</h2>
    <button type="button" class="" [mat-dialog-close]><i class="fa-solid fa-xmark"></i></button>
  </div>
  <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScSRmuFfWfZ6ni4hv9u1-Hh8oNDMhk7ST4k3GrKFY7iyp5l9w/viewform?embedded=true" width="640" height="543" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
  <form [formGroup]="newInputForm" ngxsForm="warehouse.production_input.newInputForm" (ngSubmit)="PostForm() " class=" flex flex-col py-4">
    <div class="flex mb-6 justify-around">
      <div class="flex flex-col w-6/12 px-2">
        <label class="mb-2" for="id">id: <span class="text-red-600">*</span></label>
        <input class="border rounded border-gray-600 h-10 p-2" disabled formControlName="id" id="id" [ngModel]="(ProductionInput | async).newId" type="text">
      </div>
      <div class="flex flex-col w-6/12 px-2">
        <label class="mb-2" for="cantidad">cantidad: <span class="text-red-600">*</span></label>
        <input class="border rounded border-gray-600 h-10 p-2" formControlName="cantidad" id="cantidad" type="text">
      </div>
    </div>
    <div class="flex mb-12 justify-around">
      
      <div class="flex flex-col w-6/12 px-2">
        <label class="mb-2" for="codigo_salida">codigo de salida<span class="text-red-600">*</span></label>
        <select class="border rounded border-gray-600 h-10 p-2" formControlName="codigo_salida" name="codigo_salida" id="codigo_salida">
          <option value="">-------</option>
         <option [value]="exit.codigo_de_salida" *ngFor="let exit of filteredExits.out_moves" >{{exit.concepto}} {{exit.fecha_de_salida}}</option>
       </select>
      </div>
      <div class="flex flex-col w-6/12 px-2">
        <label class="mb-2" for="codigo_lote">codigo de lote: <span class="text-red-600">*</span></label>
         <select class="border rounded border-gray-600 h-10 p-2" formControlName="codigo_lote" name="codigo_lote" id="codigo_lote">
          <option value="">-------</option>
          <option [value]="log.codigo_de_producto" *ngFor="let log of filteredLog.log" >{{log['producto/escandallo']}} {{log.variante}}</option>
        </select>
      </div>
    </div>
    <div class="flex justify-end w-full pr-2">
      <button mat-raised-button mat-button class="bg-teal-600 text-white">
      
        <input type="submit"  value="Enviar" />
      </button>
    </div>
  </form>
</div>

