
<div class="" tabindex="-1">
  <div class="flex justify-between mb-6">
    <h2 class="text-2xl">Nueva categoria</h2>
    <button type="button" class="" [mat-dialog-close]><i class="fa-solid fa-xmark"></i></button>
  </div>
  <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScSRmuFfWfZ6ni4hv9u1-Hh8oNDMhk7ST4k3GrKFY7iyp5l9w/viewform?embedded=true" width="640" height="543" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> -->
  <form [formGroup]="newCategoryForm" ngxsForm="warehouse.categories.newCategoryForm" (ngSubmit)="PostForm() " class=" flex flex-col py-4">
    <div class="flex mb-6 justify-around">
      <div class="flex flex-col w-6/12 px-2">
        <label class="mb-2" for="almacen">almacen: <span class="text-red-600">*</span></label>
        <select formControlName="almacen" class="border rounded border-gray-600 h-10 p-2" name="almacen" id="almacen">
          <option [value]="warehouse.almacen" *ngFor="let warehouse of (warehouses | async).warehouses" >{{warehouse.almacen}}</option>
        </select>
      </div>
      
      <div class="flex flex-col w-6/12 px-2">
        <label class="mb-2" for="categoria">categoria: <span class="text-red-600">*</span></label>
        <input formControlName="categoria" class="border rounded border-gray-600 h-10 p-2" id="categoria" type="text">
      </div>
      <div class="flex flex-col w-6/12 px-2">
        <label class="mb-2" for="descripcion">descripcion: <span class="text-red-600">*</span></label>
        <input formControlName="descripcion" class="border rounded border-gray-600 h-10 p-2" id="descripcion" type="text">
      </div>
    </div>
    <div class="flex justify-end w-full pr-2">
      <button mat-raised-button mat-button class="bg-teal-600 text-white">
        <input type="submit" (click)="onNoClick()" value="Enviar" />
      </button>
    </div>
  </form>
</div>

